.collection-item {
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;

  .item-image {
    height: 95%;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .about-item {
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 90%;
      margin-bottom: 15px;
    }

    .price {
      width: 10%;
    }
  }
}
